venv/
.DS_Store
*.pyi
SequenceAligner/
__pycache__/**
__pycache__/
output.txt
data_big/
*bin
*output*.txt
*_dbg.txt
trace.txt
train/
test/
train_simple/
**/CMakeFiles/
**/build/
**/Makefile
**/CMakeCache.txt
*.cmake
venv/
_profiling/
memray-*.html
*.pkl